# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\airtest_code\taobao_test2.0.air\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
